<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
<Class name="Telegram.Bot.Settings">
<Description>
Connection settings to the Telegram Bot Api</Description>
<Super>%Persistent</Super>
<TimeCreated>64131,17480.634683</TimeCreated>

<Property name="Code">
<Type>%String</Type>
<Required>1</Required>
</Property>

<Index name="CodeIndex">
<Properties>Code</Properties>
<Unique>1</Unique>
</Index>

<Property name="Name">
<Type>%String</Type>
</Property>

<Property name="Value">
<Type>%String</Type>
</Property>

<Method name="GetValue">
<ClassMethod>1</ClassMethod>
<FormalSpec>code:%String</FormalSpec>
<ReturnType>%String</ReturnType>
<Implementation><![CDATA[
	try {
		return ##class(Telegram.Bot.Settings).CodeIndexOpen(code).Value
	} catch ex {
		throw ex
	}
]]></Implementation>
</Method>

<Method name="SetValue">
<ClassMethod>1</ClassMethod>
<FormalSpec>code:%String,Value:%String</FormalSpec>
<ReturnType>%Status</ReturnType>
<Implementation><![CDATA[
	try {
		set setting = ##class(Telegram.Bot.Settings).CodeIndexOpen(code)
		set setting.Value = Value
		do setting.%Save()
		return $$$OK
	} catch ex {
		throw ex
	}
]]></Implementation>
</Method>

<Storage name="Default">
<Type>%Library.CacheStorage</Type>
<DataLocation>^Telegram.Bot.SettingsD</DataLocation>
<DefaultData>SettingsDefaultData</DefaultData>
<IdLocation>^Telegram.Bot.SettingsD</IdLocation>
<IndexLocation>^Telegram.Bot.SettingsI</IndexLocation>
<StreamLocation>^Telegram.Bot.SettingsS</StreamLocation>
<Data name="SettingsDefaultData">
<Value name="1">
<Value>%%CLASSNAME</Value>
</Value>
<Value name="2">
<Value>Code</Value>
</Value>
<Value name="3">
<Value>Name</Value>
</Value>
<Value name="4">
<Value>Value</Value>
</Value>
</Data>
</Storage>
</Class>
</Export>
